* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    transition: background-image 0.3s ease; /* Smooth background image transition */
}

/* Container for the boxes */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 20px;
}

/* Style for each box */
.box {
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease; /* Smooth hover effect */
    width: 240px;
    height: 240px;

    background-size: cover; /* Ensures the image covers the entire box */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image from repeating */
}
.backgroundImages{
    
    background-size: cover; /* Ensures the image covers the entire box */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image from repeating */
}

/* Hover effect for boxes */
.box:hover {
    transform: scale(1.1);
}

/* Background images for each box */
#img1 {
    background-image: url(assests/pexels-apasaric-2341830.jpg);
}

#img2 {
    background-image: url(assests/pexels-brett-sayles-1322185.jpg);
}

#img3 {
    background-image: url(assests/pexels-katja-79053-592077.jpg);
}

#img4 {
    background-image: url(assests/pexels-rpnickson-2559941.jpg);
}
